.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
} 

.form-select:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
} 
